nav img{
    width: 50px;
    padding-left: 19px;
    margin: 2px;
}
nav{
    background-color: greenyellow;

}

ul{
    float:right;
    list-style-type: circle;
    padding-right: 550px;
}
ul li{
    display: inline-block;
    padding: 10px;
}
li a{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color:rgb(185, 239, 78);
  }
